
TerapicFisicHelper.Data/obj/Debug/net5.0/TerapicFisicHelper.Data.assets.cache
TerapicFisicHelper.Data/obj/Debug/net5.0/TerapicFisicHelper.Data.assets.cache
TerapicFisicHelper.Data/obj/Debug/net5.0/TerapicFisicHelper.Data.csprojAssemblyReference.cache
TerapicFisicHelper.Data/obj/project.assets.json
TerapicFisicHelper.Data/obj/Debug/net5.0/TerapicFisicHelper.Data.csprojAssemblyReference.cache
TerapicFisicHelper.Data/obj/project.assets.json
TerapicFisicHelper.Data/obj/TerapicFisicHelper.Data.csproj.nuget.g.props
TerapicFisicHelper.Data/obj/TerapicFisicHelper.Data.csproj.nuget.g.props
TerapicFisicHelper.Data/obj/project.nuget.cache
TerapicFisicHelper.Entities/obj/Debug/net5.0/TerapicFisicHelper.Entities.assets.cache
TerapicFisicHelper.Data/obj/TerapicFisicHelper.Data.csproj.nuget.g.props
TerapicFisicHelper.Web/obj/TerapicFisicHelper.Web.csproj.nuget.g.props
TerapicFisicHelper.Web/obj/TerapicFisicHelper.Web.csproj.nuget.dgspec.json
TerapicFisicHelper.Web/obj/project.nuget.cache
TerapicFisicHelper.Web/obj/project.assets.json
TerapicFisicHelper.Web/obj/Debug/net5.0/TerapicFisicHelper.Web.csprojAssemblyReference.cache
TerapicFisicHelper.Web/obj/Debug/net5.0/TerapicFisicHelper.Web.assets.cache
TerapicFisicHelper.Entities/obj/TerapicFisicHelper.Entities.csproj.nuget.g.props
TerapicFisicHelper.Data/obj/Debug/net5.0/TerapicFisicHelper.Data.assets.cache
TerapicFisicHelper.Data/obj/Debug/net5.0/TerapicFisicHelper.Data.csprojAssemblyReference.cache
TerapicFisicHelper.Entities/obj/Debug/net5.0/TerapicFisicHelper.Entities.csprojAssemblyReference.cache
TerapicFisicHelper.Entities/obj/Debug/net5.0/TerapicFisicHelper.Entities.assets.cache
TerapicFisicHelper.Data/obj/project.assets.json
TerapicFisicHelper.Data/obj/project.nuget.cache
